.place__image{
  width: 460px;
  height: 460px;
}


@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 320px;
  height: 320px;
  }
}
