.lead__title{
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 0;
  text-align: center;
  width: 720px;
  line-height: 100px;
  font-weight: 900;
  font-size: 96px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
  }
}
