.lead__image{
  width: 984px;
  margin: 0 100px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .lead__image {
    width: 91%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}
