.place__link{
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
}

.place__link:hover {
  opacity: 0.8;
  transition : all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
