.place{
  margin: 0 auto;
  padding: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: max-content max-content;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    padding: 0;
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    padding-bottom: 73px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: block;
    padding: 0;
    padding-bottom: 49px;
  }
}
