.place{
  margin: 0 auto;
  padding: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: max-content max-content;
  row-gap: 48px;
  column-gap: 40px;
}
